/All I Ever Wanted - Radio Edit.mp3
/Be Mine - Di Young.mp3
/Believer - Fairlane.mp3
/Caramelldansen - Caramella Girls.mp3
/death bed.mp3
/Detective Detective - Static-P.mp3
/Don't Say Ur Sorry meme - Kkamok-bird.mp3
/doodle.mp3
/Dream Flower.mp3
/Ellis - Don't Say Ur Sorry (Sickrate Remix).mp3
/Golden (v2).mp3
/Golden.mp3
/High Hopes - Panic! At The Disco.mp3
/Im Taking You Down with Me - Switchers Records.mp3
/In music I believe.mp3
/It's Not Like I Like You!! - Static-P.mp3
/Just Da Two of Us - Cover - Tosho.mp3
/Little Raindrop - Static-P.mp3
/mainAlt.py
/MegaloVania FANDOM MEDLEY - Yan Ade (Remade in FL Studio).mp3
/MegaloVania FANDOM MEDLEY - Yan Ade.mp3
/Mesmerizer - Official English Version - 32ki.mp3
/Nightmares - Static-P.mp3
/Otter Pop.mp3
/Past Lives - Orchestral - sapientdream.mp3
/Past Lives - Piano Version - Bailey Pickles.mp3
/Past Lives - sapientdream.mp3
/plumbum - Zachz Winner.mp3
/Test.mp3
/The Wolf - SIAMÉS.mp3
/Thé à la menthe (The Lazer Dance Version) [Instrumental] - La Caution.mp3
/Titanium (feat. Sia) - David Guetta.mp3
/Trash Can Song - The Chalkeaters.mp3
/시네라리아로 Don't Say Ur Sorry meme - 까먹새 Kkamok-bird.mp3